########################################
# Sistema / SO
########################################
.DS_Store
Thumbs.db
*.swp
*.swo
*.log

########################################
# Variáveis de ambiente
########################################
.env
.env.*
!.env.example

########################################
# Node / Next.js
########################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.next/
out/
dist/
build/

########################################
# TypeScript
########################################
*.tsbuildinfo

########################################
# ESLint
########################################
.eslintcache

########################################
# Docker
########################################
docker-compose.override.yml

########################################
# PostgreSQL (dados locais)
########################################
postgresql/pgdata/
postgresql/data/
postgresql/*.log

########################################
# Nginx Proxy Manager (dados locais)
########################################
nginx/data/
nginx/letsencrypt/

########################################
# IDEs / Editores
########################################
.vscode/
.idea/
*.iml

########################################
# Git
########################################
.git-rewrite/
.env.docker
